.collection-item {
  width: 700px;
  display: flex;
  flex-direction: row;
  height: 300px;
  align-items: center;
  color:white;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius:8px;
  }

  .collection-footer {
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    flex-direction:row;
    justify-content: space-between;
    font-size: 20px;
    color:white;

    .name {
      font-size:40px;
    }
    .major{
      font-size:20px;
    }


  }
}
