.news-preview {

  color:white;

  margin-bottom: 30px;
  margin-left:300px;
  margin-right:300px;


  .title {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}

