body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 0px;
    background-color: white;

}
.filler{
    color:white;
}

.right{
    display: flex;
    align-items: flex-end;
    text-align: right;
}
.homepage-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin: 0 auto;
    font-size:25px;
    font-family: Arial, serif;
}
.logo{
    display:flex;
    flex-direction:row;
}
.logo-text{
   font-family:Arial, serif;
}
.empty-space{
    width:150px;
}
.header-logo{
    display:flex;
    flex-direction: row;
    align-items:center;
    padding:10px;
}
.text-nav{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-left:20px;
}


a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

canvas {
    background: #232323;
}
#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size:29px;
    padding:0px 0px;

}
#container canvas, #overlay {
    position: absolute;
    padding-top:15px;
}
canvas {
    border: 1px solid black;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
